[alias]
  co = checkout
  aa = add --all
  s = status
  c = commit
  d = diff
  cl = clean -dfX
  up = pull --rebase origin master
  publish = push -u origin HEAD
  sl = rebase -i HEAD~2
  l = log --pretty='format:%C(ul)%h%Creset |%C(yellow)%<(16,trunc) %an %Creset|%C(yellow)%<(25,trunc) %ae %Creset| %<(80,trunc)%C(cyan)%s %Creset| %C(green)%ad%Creset' --no-merges --date='format:%b %d, %Y'
[core]
  editor = vim
