[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/neocomplete.vim"]
	path = bundle/neocomplete.vim
	url = git@github.com:Shougo/neocomplete.vim.git
[submodule "bundle/vim-jade"]
	path = bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "bundle/dbext.vim"]
	path = bundle/dbext.vim
	url = git@github.com:vim-scripts/dbext.vim.git
